doctype html
html(lang="en")
  head
    title= "Facebook chat"
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/collage.css')
    link(rel='stylesheet', href='/css/override.css')
    script(src="js/vendor/modernizr.js")
    script(src="js/moment.js")
  body


