<div class="panel" data-ng-init="init()">
	<!-- Showing messages -->
	
	<div class="row">
		<div class="small-12 columns medium-8 columns">
			<h4>Chat name: {{chat_id}}</h4>
			<div class="panel">
				<div ng-repeat="message in allMessages">
					<p><img src="{{message.from['profile_picture']}}"/><strong>{{message.from['displayName']}}</strong> says: {{message.message}} <i>{{message.on | fromNow}}</i></p>
				</div>
			</div>
		</div>
		<div class="small-12 columns medium-4 columns">
			<h4>Users online: </h4>
			<div class="panel">
				<div ng-show="!users">There are no users online at this moment</div>
				<div ng-repeat="usr in users">
					<p><strong>{{usr.displayName}}</strong></p>
				</div>
			</div>
		</div>
	</div>

	<!-- End of showing messages -->

	<!-- New message form -->
	<form name="msgForm" novalidate>
		<div class="row">
			<div class="small-12 columns">
				<div class="row collapse">
					<!-- Showing username -->
					<p>Logged in as <strong>{{user.displayName}}</strong></p>
					<div class="small-10 columns">
						<!-- Message textbox -->
						<input name="messageInput" type="text" placeholder="Message" ng-model="newMessage.message" required />
					</div>
					<div class="small-2 columns">
						<!-- Send message button -->
						<a href="#" class="button postfix" ng-disabled="!msgForm.$valid" ng-click="msgForm.$valid && sendMessage(newMessage)">Send</a>
					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- End of new message form -->
</div>