doctype html
html
  head
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/collage.css')
    link(rel='stylesheet', href='/css/override.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    include ../includes/scripts
    block scripts